{{ titleErrorMessage }}
{{ descriptionErrorMessage }}
{{ priceErrorMessage }}
<form (submit)="createWidget()">
  <input type="text" name="newWidget.title" [(ngModel)]="newWidget.title">
  <input type="text" name="newWidget.description" [(ngModel)]="newWidget.description">
  <input type="number" name="newWidget.price" [(ngModel)]="newWidget.price">
  <input type="submit">
</form>

<ul>
  <li *ngFor="let widget of widgets">
    {{ widget.title }}
    <button [routerLink]="['/editwidget', widget._id]">Edit</button>
    <button (click)="deleteWidget(widget._id)">Delete</button>
  </li>
</ul>

<router-outlet></router-outlet>